#posts-container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 60vw;
  min-height: 100%;
}

@media screen and (max-width: 840px) {
  #posts-container {
    max-width: 100vw;
  }
}

#add-post-button {
  position: fixed;
  bottom: 5%;
  right: 5%;
}

mat-spinner {
  position: fixed;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
