<div id="posts-container">
  <mat-spinner *ngIf="loading" [diameter]="100" color="accent"></mat-spinner>
  <div *ngIf="!loading">
    <app-post *ngFor="let post of posts" [post]="post"></app-post>

    <button
      id="add-post-button"
      mat-fab
      color="warn"
      aria-label="Create post"
      (click)="onCreatePost()"
    >
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>
