<form [formGroup]="formGroup">
  <h1 mat-dialog-title>Create new post</h1>
  <div mat-dialog-content>
    <mat-form-field>
      <mat-label>Title</mat-label>
      <input matInput formControlName="title" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Body</mat-label>
      <textarea matInput formControlName="body"></textarea>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onCancel()">Cancel</button>
    <button
      type="button"
      mat-button
      (click)="onCreate()"
      [disabled]="formGroup.invalid"
    >
      Create
    </button>
  </div>
</form>
