<mat-card class="card-for-post">
  <mat-card-header>
    <mat-card-title>{{ post.title }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>{{ post.body }}</p>
  </mat-card-content>
  <mat-card-footer>
    <mat-expansion-panel
      class="mat-elevation-z0"
      (opened)="onShowComments()"
      (afterCollapse)="onHideComments()"
    >
      <mat-expansion-panel-header>
        <mat-panel-title>
          Comments
        </mat-panel-title>
      </mat-expansion-panel-header>

      <mat-spinner *ngIf="loading" [diameter]="40"></mat-spinner>
      <div *ngFor="let comment of comments; first as isFirst">
        <hr *ngIf="!isFirst" />
        <app-comment [comment]="comment"></app-comment>
      </div>
      <p *ngIf="!loading && !(comments && comments.length)">
        There are no comments on this post.
      </p>
    </mat-expansion-panel>
  </mat-card-footer>
</mat-card>
